@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");

html {
  font: 14px/1.5 Verdana, sans-serif;
}

body {
  margin: 0 auto;
  padding: 3.5em 2.5em;
}

.icons {
  list-style-type: none;
  padding-bottom: 1em;
}
