body {
  background: rgb(238, 238, 238);
  margin: 0;
  display: flex;
  min-height: 100vh;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.card {
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 11px -2px black;
  border-radius: 12px;
  max-width: 350px;
  padding: 20px;
  margin: 0 auto;
}

p {
  font-family: Helvetica, sans-serif;
}